.top-bar, .top-bar ul {
	background-color: rgba(10, 10, 10, 1);
} 

.hero {
	margin: auto;
}

.top-bar-right {
	margin-top: .6rem;
}


#shop {
	padding: .5rem 1rem;
}


	  .fi-social-facebook {
      	font-size: 2.3rem;
      	color: rgba(238, 238, 238, 1);
      	padding: 1rem;
      }

      .fi-social-facebook:hover {
      	color: rgba(150, 150, 150, 1);
      }

      .fi-social-instagram {
        font-size: 2.3rem;
      color: rgba(238, 238, 238, 1);
        padding: 1rem;
      }

      .fi-social-instagram:hover {
      	color: rgba(150, 150, 150, 1);
      }

      .fi-social-twitter {
        font-size: 2.3rem;
        color: rgba(238, 238, 238, 1);
        padding: 1rem;
      }

      .fi-social-twitter:hover {
      	color: rgba(150, 150, 150, 1);
      }



      .off-canvas {
      	background-color: rgba(10, 10, 10, 1);
      }

	#social {
		text-align: center;
		margin: 1.5rem 0rem;
	}

      #social li {
      	display: inline-block;
      }


      #smallnav li a {
      	font-size: 1.5rem;
      	color: rgba(238, 238, 238, 1);
      	padding: 1rem 3rem;
    
      }

      #ot {
      	padding: 1rem;
      }

.menu li a {
	text-align: center;
	color: rgba(238, 238, 238, 1);
	font-size: 1.3rem;
	font-family: 'Carter One', cursive;
}

.menu li a:hover {
	text-decoration: line-through;
}


.dropdown li {
	list-style-type: none;
}

.dropdown a {
	color: rgba(100, 100, 100, 1);
}

#top_footer {
	background-color: rgba(240, 240, 240, 1);
	margin-top: 3.5rem;
	padding-left: 1rem;
}

#info {
	padding-top: 1.3rem;
}

#bottom_footer {
	background-color: rgba(10, 10, 10, 1);
	color: rgba(238, 238, 238, 1);
	max-width: 100%;
	padding: 1rem 2rem ;
	text-align: center;
}

#copyright {
	margin-bottom: .2rem;
	line-height: 1.2rem;
}

#top_footer b {
	font-family: 'Carter One', cursive;
}


.title-bar-title {
	font-family: 'Carter One', cursive;
	font-weight: lighter;
}

.breadcrumbs {
	padding: 2rem 1rem 0rem .5rem;
}

#price {

	padding: 0rem 3rem;
	float: left;
	text-align: center;
}

.share p{
	float: left;
}

.share {
	padding: 2rem 1.5rem 0rem 1.5rem;
}

#lbook p {
	text-indent: 1rem;
	padding: 1rem 1rem 0rem 1rem;
	line-height: 2rem;
	font-size: 1.3rem;
	color: rgba(30, 30, 30, 1);
}

#lbook h1 {
	margin: 2rem;
	text-decoration: underline;
}

#contact {
	padding-bottom: 0rem;
	text-align: center;
}

#contact p {
	padding-top: 1rem;
}

#dev {
	margin-bottom: 0rem;
	font-size: .8rem;
	font-style: italic;
}

